body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  width: 100%;
  background-color: white;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.logo-container {
  max-width: 900px;
  margin: 0 auto;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

.panel {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  position: relative;
  width: 100%;
  margin: 15px 0;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: bold;
}

label i {
  margin-right: 8px;
}

input, select {
  border-radius: 25px;
  border: 2px solid #888888;
  padding: 12px 15px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: rgb(44, 66, 237);
  border-radius: 25px;
  border: 2px solid whitesmoke;
  transition: all 0.3s ease;
  width: 100%;
}

.login {
  margin: 20px 0;
}

.login:hover {
  background-color: rgb(107, 119, 212);
}

a {
  margin-top: 15px;
  color: blue;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

.error-message {
  color: red;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .panel {
    width: 90%;
  }
}